.common-part {
    height: 698px;
    padding-top: 40px;
}
.common-part .center_wrap .hd h2 {
    float: left;
}
.common-part .center_wrap .bd {
    margin-top: 32px;
}
.common-part .center_wrap .bd>ul>li {
    float: left;
    margin: 0 32px 32px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}
.common-part .center_wrap .bd>ul>li:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}
.common-part .center_wrap .bd>ul>li:nth-child(3),
.common-part .center_wrap .bd>ul>li:nth-child(7) {
    margin-right: 0;
}
.common-part .center_wrap .bd>ul>li .tag {
    position: absolute;
    left: 0;
    bottom: 103px;
    width: 74px;
    height: 40px;
    background-color: rgba(28, 31, 33, .55);
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}
.common-part .center_wrap .bd>ul>li.big-grid {
    position: relative;
    width: 560px;
    height: 270px;
}
.common-part .center_wrap .bd>ul>li.big-grid .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 103px;
    background-color: rgba(28, 31, 33, .55);
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    padding: 30px 26px 29px;
    box-sizing: border-box;
}
.common-part .center_wrap .bd>ul>li.pro-grid {
    width: 264px;
    height: 270px;
    background-color: #fff;
}
.common-part .center_wrap .bd>ul>li.pro-grid .tag {
    bottom: 0;
}
.common-part .center_wrap .bd>ul>li.pro-grid .picbox {
    position: relative;
    width: 264px;
    height: 184px;
}
.common-part .center_wrap .bd>ul>li.pro-grid .wordsbox {
    font-size: 14px;
    line-height: 22px;
    color: #1c1f21;
    padding: 20px 14px 0px;
}