.backToTop {
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 60px;
    height: 60px;
    background-color: #ccc;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    display: none;
}